.Pricing {
    width: 100%;
    height: 490px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .PriceTab {
        border: 1px solid black;
        .treatments {
            width: 100%;
        }
    }
}